/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  skip setting html and body height for now
  my portfolio site is responsive and works fine without these set
*/
