.hero {
  height: 500px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //works locally but broken on upload to web4
  // background-image: url(/images/hero.png);
  background-image: url(../images/hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: $brand-light;

  .hero-cta {
    color: $brand-light;
    width: 484px;
    height: 54px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 46px;
  }
}

.promos {
  margin-top: -43px;
  padding-bottom: 40px;
}

.inner-container {
  max-width: 818px;
  margin: 0 auto;
}
