$spacing-image: calc((42 / $base-font-size-in-px) * 1rem);
$spacing-text: calc((70 / $base-font-size-in-px) * 1rem);

.tour-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-image;
  margin-bottom: calc((29 / $base-font-size-in-px) * 1rem);
}

.day {
  padding-bottom: $spacing-text;
}

.outro {
  padding: 80px 0 200px 0;
  display: flex;
  justify-content: center;
}
