<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <style>
      html,
      body {
        height: 100%;
      }
      .component {
        /* background-color: lightsteelblue; */
        height: 100%;
        width: 80%;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="component">
      <h1>Booking form</h1>
      <div class="wrapper-booking">
        <form class="booking-form">
          <div class="name-email">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="name..."
              class="form-element"
            />
            <input
              type="email"
              id="email"
              name="email"
              placeholder="email..."
              class="form-element form-element-large"
            />
          </div>
          <div class="country-hotel">
            <input
              type="text"
              id="country"
              name="country"
              placeholder="country..."
              class="form-element"
            />
            <input
              type="text"
              id="hotel"
              name="hotel"
              placeholder="hotel..."
              class="form-element form-element-large"
            />
          </div>
          <div class="check-in">
            <label for="check-in">Check-in</label>
            <input
              type="date"
              id="check-in"
              name="check-in"
              class="form-element form-element-x-large"
            />
          </div>
          <div class="check-out">
            <label for="check-out">Check-out</label>
            <input
              type="date"
              id="check-out"
              name="check-out"
              class="form-element form-element-x-large"
            />
          </div>
          <div class="selections">
            <label for="adult">Adult</label>
            <select
              name="adult"
              id="adult"
              form="booking-form"
              class="form-element form-element-small"
            >
              <optgroup>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </optgroup>
            </select>
            <label for="children">Children</label>
            <select
              name="children"
              id="children"
              form="booking-form"
              class="form-element form-element-small"
            >
              <optgroup>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </optgroup>
            </select>
            <label for="rooms">Room</label>
            <select
              name="rooms"
              id="rooms"
              form="booking-form"
              class="form-element form-element-small"
            >
              <optgroup>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </optgroup>
            </select>
          </div>
          <textarea
            name="message"
            id=""
            cols="30"
            rows="10"
            placeholder="message..."
            class="form-element message"
          ></textarea>

          <input
            type="submit"
            value="Submit"
            class="btn btn--round btn--wide"
          />
        </form>
      </div>
    </div>
  </body>
</html>
