//TODO: add variable for button-radius
//TODO: square button
//TODO: use variable for color

.btn {
  background-color: #79addc;
  padding: 0.625rem 1.375rem;
  border-radius: 1.25rem;

  text-decoration: none;
  color: $brand-light;
  text-transform: uppercase;
}
